####################
#### diretorios ####
####################
.settings/
node_modules/
bin/
/bin/
####################
##### arquivos #####
####################
.tern-project
package-lock.json
.project