####################
#### diretorios ####
####################
.settings/
build/
bin/
node_modules/
dist/
####################
##### arquivos #####
####################
.classpath
.project
.tern-project
package-lock.json
